

body{
background-color:  rgba(230, 126, 34, 0.6);
font-size: 1.2em;
}


header{
background-color: rgb(52, 73, 94);
height: 6em;
border-radius: 5px;
margin-top: -1%;
}

nav{
  border: 1px solid black;
  width: 100px;
  margin: auto;
  position:relative;
}


img{
  display: none;
}

h1{
  width: 280px;
  margin: auto;
}

code{
border: 1px solid black;
font-style: oblique;
font-size: 1.2em;
}


footer{
background-color: rgb(52, 73, 94);
height: 6em;
margin-top: 0%;
border-radius: 5px;
}
